div.outer {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 56px;
  overflow: hidden;
  padding: 0;
}

div.outer2 {
  position: fixed;
  top: 60px;
  left: 4px;
  right: 4px;
  bottom: 60px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 8px;
}

footer.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

div.input-control {
  top: 204px;
  right: 10px;
  background: #FFFFFF88;
  padding: 10px;
  border: 1px var(--bs-bcgold) solid;
  border-radius: 5px;
}

div.input-control .control-label {
  font-size: 0.85rem;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
  font-size: 0.75rem !important;
}